[2017-04-27 07:09] bor3ham opened #1 "Remove bootstrap references"
eg. btn, btn-sm

[2017-04-27 07:09] bor3ham opened #2 "Add some kind of callback behaviour"
Rather than assuming all action handlers are successful. Promises?

Also get rid of the `todo` to replace window.notify.

[2017-05-16 12:26] HorseBinky opened #3 "Error: addComponentAsRefTo(...)"
Hi!

After a long search I found this nice file browser.  When I try to include it into my project the following error occures:
Uncaught Error: addComponentAsRefTo(...): Only a ReactOwner can have refs. You might be adding a ref to a component that was not created inside a component's `render` method, or you have multiple copies of React loaded (details: https://fb.me/react-refs-must-have-owner).

[2017-06-15 14:10] anggao commented on #3
found the same issue

[2017-06-20 11:37] HorseBinky commented on #3
Found a solution which worked in my case:
I changed the order in my package.json so that "react-keyed-file-browser" comes before "react" and "react-dom"

[2017-06-21 12:00] anggao commented on #3
@HorseBinky thanks! but I still have the issue..

[2017-06-21 12:05] HorseBinky commented on #3
I had to uninstall the filebrowser, react and react-dom before making a fresh install of all from the changed package.json

[2017-06-22 14:52] HorseBinky opened #4 "How to customize handleItemClick?"
Hello!
So I managed to replace the fileRenderer with my React Component. But I'm still struggling to custom the onClick Event on the file.
I want to pass my function as props to the FileBrowser to get the key of the clicked file to use it in my app.
Any suggestions how I can pass the function?

Thanks!!

[2017-07-17 19:28] sfreeman422 commented on #3
I am actually receiving the same issue, even after manually changing my package.json to load react-keyed-file-browser before react and react-dom. I removed my node_modules folder then reinstall fresh with an npm install and I still receive this error. Anyone got any other ideas?

[2017-07-17 21:33] jonjomckay commented on #3
@sfreeman422 try installing the package as a git reference instead of straight from npm - I pull requested a change that should fix this a few days but I don't think it's been released to npm just yet!

[2017-08-10 18:56] ryanarmstrong commented on #4
Yea wondering the same here

[2017-08-16 17:19] sichvoge commented on #3
@jonjomckay any plans to release it on npm? unfortunately, there is no `dist` folder so that it will work to reference the github repo in package.json

[2017-08-25 17:07] estuart commented on #3
Has anyone found a solution to this? I installed straight from the git reference as suggested and am still having the same issue.

[2017-08-28 16:37] jonjomckay commented on #3
@sichvoge this isn't my repository :) releasing a new version is something that's up to @bor3ham or @aidanlister I presume

[2017-08-31 02:30] aidanlister commented on #3
Would anyone be interested in helping us maintain this? We're smashed at the moment. It's a core part of our product so we'll catch up shortly, but if you need anything urgent I'm happy to add someone as a maintainer.

[2017-09-02 05:40] cdxOo commented on #3
For those trying to make this work via the github repository:

[code]
Notes:
 - npm install somehow eats the webpack config file so we need to retrieve the file manually
 - the sed line is due to the fact that we are already in a node_modules folder and the original regex matches any occurence of "node_modules" in the absolute path of the file; i.e.: the loader would never be used in this case
 -

[2017-11-25 08:07] lveronese opened #6 "LoadingSpinner component missing?"
Hi,

I'm trying to compile the code but it seems the LoadingSpinner component referenced in browser.js is missing. Can you help me?
Thank you.

[2017-11-30 01:08] jarekwg commented on #3
Hey all, thanks for being patient.
1.0.2 published.

I believe this can be closed now?

[2017-11-30 01:08] #3 closed

[2017-12-04 15:14] francois06 commented on #4
bump

[2017-12-15 08:28] gregorianisch opened #7 "Deleting folder and creating new folder causes old folder to appear"
Hi,

there is a bug with folders.

**Steps to reproduce:**
1 - Delete existing folder
2 - Click add new folder

**Result:**
New folder appears with old folder name, clicking on it makes it disappear. When clicking new folder again and clicking outside folder area causes old folder to disappear. After that clicking on new folder causes new folder to appear.

**Expected result:**
After deleting old

[2017-12-18 00:49] jarekwg commented on #7
Thanks for reporting. Will investigate.

[2017-12-25 17:18] gregorianisch opened #8 "Uppercase letters breaks search bar."
Hi,

there is a bug with search bar.

**Steps to reproduce:**
1 - Create an image, the name must contain lower and uppercase letters.
2 - Search for the added image through "Filter files" searchbar.

**Result:**
As soon as the uppercase letter is added to the search: 'No files matching"search result".' message is shown

**Expected result:**
Uppercase lettest should be implemented in the search.

[2018-01-11 03:20] jarekwg commented on #6
Fixed. Thanks for reporting.

[2018-01-11 03:20] #6 closed

[2018-01-11 03:27] jarekwg commented on #8
Thanks, fixed in: 90abdbea4b0a39ae9a0993f14d681b935e7bb871

[2018-01-11 03:27] #8 closed

[2018-01-11 04:04] jarekwg commented on #7
Fixed in 26b3f6c53cad1ef164924b260ff7a19808e0a3c2

[2018-01-11 04:30] jarekwg commented on #4
Hey, sorry for the 6 month wait on a response.

I believe I've addressed this in d0e9bf0824ef89bde2b3a1123bebf696a7108ea8
Please advise if that doesn't solve the problem and I'll reopen the issue.

[2018-01-11 04:30] #4 closed

[2018-01-11 06:12] jarekwg commented on #1
Done in https://github.com/ABASystems/react-keyed-file-browser/commit/a63a645d1ff5a0f57f2ff1c7687073e0ca971229

[2018-01-11 06:12] #1 closed

[2018-01-11 06:52] gregorianisch commented on #7
@jarekwg Thanks, but after this update it's not possible to add folder at all.

Error when clicking "Add Folder":
`Uncaught TypeError: Cannot read property 'value' of undefined`

[2018-01-11 07:09] jarekwg commented on #7
Gah, sorry,
I'm still rapidly committing at the moment, so there may be some kinks. (Publishing is easier than testing locally in my setup.. -.-)

I'll patch it up soon.

[2018-01-11 07:11] gregorianisch commented on #7
@jarekwg  No problem :) Thanks for fast reaction!

[2018-01-11 21:34] jarekwg commented on #7
@gregorianisch I believe it's fixed now.

Cheers,

[2018-01-11 21:34] #7 closed

[2018-01-12 07:32] gregorianisch commented on #7
@jarekwg Thanks! Working correctly :)

[2018-01-15 14:35] jarekwg opened #9 "Stop grabbing stuff through `.refs`"
This is a dodgy way to do things.
Currently it's causing some weirdness with the file/folder renaming box, where the box won't be available in `.refs` if the action buttons (Add folder, rename, delete) haven't been rendered..

[2018-01-15 22:40] jarekwg opened #10 "Add list-style.sass"

[2018-01-15 23:03] jarekwg opened #11 "Add demo for thumbnail list view."

[2018-01-25 05:23] jarekwg opened #12 "Improve workflow around rename/delete."
The current implementation does not scale well.
With a large amount of files, one needs to scroll all the way down to the file, select it, scroll up to the top to click rename/delete/add subfolder, then scroll all the way back down to the selected file to confirm the action.
--> The add subfolder/rename/delete actions should sit within the files themselves, rather than in the action bar. Or perhap

[2018-01-25 05:25] jarekwg opened #13 "Bulk action support"
Multiple files should be selectable by dragging highlighting squares over them, and/or by holding ctrl/shift while clicking to select a file.

Once multiple files are selected, bulk actions should be performable on them, such as moving multiple files/folders in unison & bulk deletion.

[2018-02-14 11:59] albinotonnina opened #15 "fontawesome 404 on the website"
Hi!
Little thing going on on the website:

The fontawesome fonts are 404
(eg. https://uptick.github.io/dist/fontawesome-webfont.ttf?v=4.7.0)

![image](https://user-images.githubusercontent.com/37283/36203114-56316dfa-117e-11e8-974f-b33f10abc987.png)

[2018-02-14 12:48] jarekwg commented on #15
Hi albinotonnina,

Thanks for reporting! I did already notice this, but neglected to fix it at the time. -.-
We'll likely be making some updates in the coming fortnight or so to provide better support for the thumbnail renderers. There'll be a new demo added to showcase that. Will look into fixing up the fontawesome link then.

Cheers,

[2018-03-12 14:22] souuu opened #16 "handleFileClick as a prop ?"
Hello,
I can't find the handleFileClick function as a prop,
I need to detect the click on the file, so I can generate a download link at that time and edit the object.
How can I do this ?

[2018-03-12 23:57] jarekwg commented on #16
Hi souuu,

You can extend `BaseFile` and give it your own `handleFileClick` functionality, then pass it in to the browser's `fileRenderer` prop.

Alternatively, we can make a tweak to allow passing this callback in through `fileRendererProps`. Happy to accept a PR that does this.

Cheers,

[2018-03-13 09:18] souuu commented on #16
Hello jarekwg,
Thank you for that quick reply !

Can you help me with an example please ?
For example I want to do a console.log when the file is clicked.

Thank you.

[2018-03-13 11:39] jarekwg commented on #16
[code]

[code]

[2018-03-21 09:36] souuu commented on #16
Hello jarekwg,
I have a problem doing this ..
if I do extends BaseFile , I have
`Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports.`
and if I do extends TableFile, I have
[code]
Any Idea

[2018-03-21 11:27] jarekwg commented on #16
Make sure your loader understands decorators.
If you're using babel 6, add this plugin to get it working: `babel-plugin-transform-decorators-legacy`
https://github.com/loganfsmyth/babel-plugin-transform-decorators-legacy

[2018-03-21 13:45] souuu commented on #16
Thank you for your support jarekwg,
but i have another error which is
`Uncaught Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports.`
I think it's related to how i'm importing the mo

[2018-03-21 13:59] souuu commented on #16
well, I have forced the updated babel-loader to compile the file,
now if i put
` <FileBrowser files={filesList} fileRenderer={MyFile} />`
I have
[code]
exactly at :
[code]

[2018-03-22 01:05] jarekwg commented on #16
Regarding importing, you want:
`import FileBrowser from 'react-keyed-file-browser'`
or, if you need to wrap with your own dnd context, import the unwrapped version like this:
`import { RawFileBrowser as FileBrowser } from 'react-keyed-file-browser'`

Regarding your error, it's saying that `this.props.files` is undefined.
Have you passed files into the component? I'll update repo to mark that prop

[2018-03-27 15:01] MincedCutlet commented on #16
I think I'm correctly passing in the files to the component, but like souuu, the files are still not picked up if I use the fileRenderer. See this super simple example: https://codesandbox.io/s/w6r6o6ov5w

[2018-03-28 01:27] jarekwg commented on #16
ooooh. Okay I see what's up. My apologies to @souuu for misunderstanding the issue.

You're trying to extend a component that has been decorated with DND context stuff.
This causes weirdness which results in props for TableFile getting fed into the FileBrowser component..

Solution is not to extend a component that has been DND decorated (ie TableFile).
You should either extend BaseFile, or gimme

[2018-03-28 01:50] #16 closed

[2018-03-28 01:56] jarekwg commented on #16
Done. I've edited my above example, to not be extending TableFile.
Lemme know if that works for you!

[2018-04-07 04:11] jarekwg commented on #15
@scaredcat did you end up making progress with this?

[2018-04-07 05:46] scaredcat commented on #15
I've tried to trigger an update by deleting the gh-pages branch or adding a commit, however neither works.
We could still try to switch the github pages branch in settings and switching it back to see if it triggers a build.

Currently it seems like it tries to read from a directory inside our organisation github, rather than serve the project site github page.

In the meantime I've contacted Gith

[2018-05-14 08:05] shaibe commented on #11
Is this something which is planned soon? I've noticed that there is some code (RawListThumbnailFile) already in progress....

[2018-05-14 08:45] jarekwg commented on #11
Hi shaibe,

Yep, can't give you a timeframe, but hopefully within the next month or so? We already use the thumbnail renderer in our production code, just have to get round to finishing stripping it out of our code and plonking it into this package..

Cheers,

[2018-05-15 05:11] shaibe commented on #11
Thanks for the response!

--Shai

[2018-07-26 10:57] dariospadoni opened #19 "Support for localization"
Is there a way to translate the texts (ie. File, Size, Modified,.. ) which are currently hardcoded?

[2018-07-30 06:49] #11 closed

[2018-08-24 17:57] rvanheest opened #24 "A couple questions on usage of this library"
Hi, thanks for creating this great and nice looking component! I've got a couple of questions before deciding whether we can use this in our application.

1. Currently this library has peerDependencies on React v0.14 and v15. Are there any plans to upgrade to React v16, which is the current version (and higher, as they are released in the future)?
2. The icons used for folders, files, etc. are bas

[2018-08-26 23:59] jarekwg commented on #24
Hi Richard,

1. Yes, we will definitely be bumping the versions. We already use this package with react16, just haven't gotten round to bumping the package.json here to silence the warning...
2. No plans to bump to fontawesome 5 particularly soon, but it will happen eventually.
3. Sections of this package aren't as pluggable as others. Looks like you're right about the column definitions, for exam

[2018-09-05 02:11] jarekwg commented on #24
React16 support is now listed in package.json in the 1.3.1 release.
Also, re fontawesome, we might end up stripping it out of here altogether and asking the user to feed their own icon mapping in. (More of a hassle, but makes it more open to competing icon libraries). No ETA on any of that though.

[2018-09-05 02:12] jarekwg opened #25 "Write up beefy docs."

[2018-09-05 02:15] jarekwg opened #26 "Drop fontawesome 4 requirement."
Consider dropping direct need for any particular icon library, instead offering a simple prop blob for user to map their own icons in. Could also include some default configs for the big icon libraries (fontawesome, glyphicons, material).

@tabby-or-not for your reference.

[2018-09-05 02:18] jarekwg opened #27 "Bump react-dnd"
We're using a pretty old version now. On 2.1.4, latest is 5.x.
Time to upgrade!

[2018-09-05 02:19] jarekwg opened #28 "Column customisation support"
Make it easy to define custom columns, without the need to change the header and file renderers in separate places.

[2018-09-05 02:19] jarekwg commented on #24
Closing this; opened issues #25, #26, #27, #28.
Thanks!

[2018-09-05 02:19] #24 closed

[2018-09-05 04:35] rvanheest commented on #24
This all sounds great @jarekwg! Definitely gonna try it out once I get back from holiday.

[2018-09-06 13:27] Mr-Antivirus commented on #16
Hello, I tried the code you provided in the sandbox and it works perfectly fine there, however, I've been struggling to figure out why it doesn't work when I copy and paste exactly what you had there.

I finally realized that it is because the handleFileClick function is defined inside the class via an arrow function. If I change the definition to a normal class definition...

`class MyFile extend

[2018-09-07 00:35] jarekwg commented on #16
Hey Mr-Antivirus,

Not sure...
Arrow functions are awesome though, you probs want to be moving to use them anyway. :D

Sorry,

[2018-09-27 04:12] Okami- opened #30 "Question about separating folders, files, and information."
I have a design that has folders on the first column, files in the middle column and the file information on the third column. Is there a way to separate the 3 into distinct columns and still have the interactivity? For example I would click the folder on the first column and the listing of the files inside the folder from the first column would display on the second column.

[2018-09-27 05:01] jarekwg commented on #30
Hey Okami-

The default renderers don't offer this sort of behaviour.
You _should_ be able to get whatever layout you want with custom renderers, as what you're going for sounds functionally the same.
If renderers seem like they're too restrictive, try forking the repo first, change the code around until it works, then work backwards from there, trying to contain your changes to custom Renderers.

[2018-10-18 04:09] #26 closed

[2018-10-29 09:21] badris101 opened #33 "Question: can i change the details view for images"
i want to change the details view for images i want the image to show up
![sans titre](https://user-images.githubusercontent.com/32427487/47640676-03154580-db5c-11e8-9467-cb12c8947fee.png)

[2018-10-29 12:21] jarekwg commented on #33
You sure can!
Spin up your own detail renderer and pass it, along with additional props of your choosing (eg callback methods) to the FileBrowser like so:
[code]
We use a popup modal for our detail renderer, though it hasn't been included in this package as it does some heavy stuff (rendering pdfs, xlsx files, etc).

[2018-11-02 11:39] anhntbk08 opened #34 "[Question]Develop new feature"
Hi,

Thank for your great lib, it's very useful. I got a question on developing new feature.
I forked the code and make some changes, rebuild and refer it to my code, it keeps saying
`
" Element ref was specified as a string (browser) but no owner was set. You may have multiple copies of React loaded. (details: https://fb.me/react-refs-must-have-owner). "
`
Can you give me some advices to solve th

[2018-11-05 00:53] scaredcat commented on #34
Hi Tuan,

If you used `npm link` or `yarn link` with your project where `react-keyed-file-browser` is used make sure that you only have a single `node_modules` directory from the project you're transpiling (assuming you're using webpack). If a `node_modules` directory exists within any of your sub-directories it might be picking up that version of react as well.

Alternatively it could be a usage

[2018-11-05 04:11] anhntbk08 commented on #34
Very thank @scaredcat, let me close this topic

[2018-11-05 04:11] #34 closed

[2018-11-16 17:39] maximelb opened #35 "Dynamic content"
Just curious if there is a preferred method to display content that is dynamically fetched. We'd like to get a callback for when opening a folder so that we can query an internal API and go fetch the contents of an actual file system to display (it's too large to just cache all of it).

All the examples use static data and I can't seem to find a way to pass handlers for that.

Thanks

[2018-11-25 13:00] marpontes opened #38 "Allow icons to be set by type of file"
It would very nice to be able to define icons by type of file like so:

[code]

The `icons` prop could be kept for specific mappings.

[2018-11-27 03:43] jlo-1 opened #39 "Font Awesome Loaded check returning true when pro is not loaded"

[2018-12-06 23:35] tabby-or-not opened #41 "State is being directly manipulated"
We've got a few places where we're doing stuff like this: https://github.com/uptick/react-keyed-file-browser/blob/5a3cc0e24c681fcf31a7e9c8e574cc92f8c13b4f/src/browser.js#L139

This is bad and can cause unintended behaviour
https://reactjs.org/docs/state-and-lifecycle.html#do-not-modify-state-directly

[2018-12-06 23:37] tabby-or-not commented on #38
Nice idea 👍

[2018-12-11 13:54] danksch opened #42 "Disabling item details"
I tried disabling the detailRenderer by setting `detailRenderer={null}`, which is an unexpected type and doesn't work. In the tutorial, I saw `headerRenderer `set to `null `once and thought this would work here as well.

How can I disable the item details ?

[2018-12-11 23:12] jarekwg commented on #42
Maybe try passing in a blank renderer (have it return nothing in its render method)?

[2018-12-18 18:57] dguayrobotiq opened #44 "Typescript support"
It's really hard working with this library on Typescript. Is there any plan to add Typescript support? Or does anyone have a definition file for this library?

[2018-12-18 19:03] rvanheest commented on #44
:+1: same experience here! See Q5 in https://github.com/uptick/react-keyed-file-browser/issues/24.
It would be really nice if someone could contribute a `.d.ts` file!

[2018-12-18 20:44] DarioDiem commented on #42
Hi
I have the same question, in my case the user doesn't have the need of the `item details` since the table already contains all that the user needs.

how can I pass the blank renderer?
is there any example?

[2018-12-18 22:04] #41 closed

[2018-12-19 00:42] DarioDiem commented on #42
Answering my own question, just created a new Class which had the `render()` return what I wanted, either nothing or something that the users in my project would need and passed it as:
[code]
the class is something like this:
[code]

[2018-12-19 00:42] jarekwg commented on #35
I believe this is now resolved?

[2018-12-19 00:42] #35 closed

[2018-12-19 01:00] jarekwg commented on #42
Neat. I'll leave this open, as we'd probs like to offer a neater way of doing this in future.

[2018-12-20 10:50] danksch commented on #42
I'm trying to implement a file browser with drag and drop functionality, where a user selects files/folders on a drive.

Yes, that's what I've one for now. Similar to @DarioDiem 's approach, I just passed a (functional) component which returns nothing:

`function EmptyRenderer() {
     return (
         <div></div>
     )
}

// ...

<FileBrowser
   // ...
   detailRenderer={EmptyRenderer}
   // ..

[2018-12-25 13:32] YassienW opened #45 "Files show as folders when no size is provided"
When providing an array of files that only have keys, all the files show as folders. Is this intended behavior or is there a way to make them show as files without providing the size?

[2019-01-23 14:27] dguayrobotiq opened #48 "Close all folders programmatically or on files change"
Is there a way to close the file browser folders when its files change? Or anyway to do it programmatically?

[2019-01-24 21:23] raniel90 opened #49 "onMoveFile and onMoveFolder props are not triggered"
Hi,

the funcionts onMoveFile and onMoveFolder are not triggered.

`handleMoveFolder = (oldKey, newKey) => {
    console.log('handleMoveFolder', oldKey, newKey) //not working
  }`

`
handleMoveFile = (oldKey, newKey) => {
    console.log('handleMoveFile', oldKey, newKey); //not working
}`

`
 onRenameFolder={this.handleRenameFolder}
`
`
 onRenameFile={this.handleRenameFile}
`

[2019-01-25 20:57] dguayrobotiq commented on #45
@YassienW Have you found a workaround for this? This is really annoying when working with file that may have a size of 0 (i.e. file created with `touch`)

[2019-01-28 16:23] YassienW commented on #45
@dguayrobotiq Well, if you can certainly know it will be a file just set the size to 1 using a condition. Sadly there is no way to easily hide the size column. A possible fix would be to make it so that when size is not null then it's a file; this way the size variable can be used to control if it's a file or folder
I would submit a PR with those changes but it seems like the project is sleeping.

[2019-01-28 20:10] YassienW commented on #45
@dguayrobotiq I will let you know if i implement this in my fork

[2019-01-29 00:09] battistone opened #51 "Does Not Obey Bootstrap Columns"
Greetings,

It would appear that the divs within React Keyed file browser do not obey Bootstrap styling. Could the <table> class be given the option of having "table-responsive", and could each column be allowed to have an override maximum width (e.g. 25%)? That would solve this bug.

![errorwithbrowser](https://user-images.githubusercontent.com/11431688/51874595-7757b480-2316-11e9-9a15-3a66c63cfa

[2019-01-29 00:17] battistone commented on #48
Yes.

One way that you could do this is with this.setState().

There are four properties for every item within the array that must be set.

Key - How the program generates the name and folder of the file. If you provide a key of "abc/def.jpg", the script will create a folder "abc" with file "def.jpg"
Modified - A datetime formatted by moment.js. moment(YOUR_DATE_HERE) is how this works
Size - A fi

[2019-01-29 12:08] cipriandraghici93 opened #52 "Missing "add file" functionality when a folder or subfolder it's selected"

[2019-01-29 18:32] battistone commented on #33
To expand on this, here's a custom detail renderer you can use to just display an image:

`import React from 'react';
import { connect } from 'react-redux';
export class CustomDetailRenderer extends React.Component {
    constructor(props) {
      super(props)
    }
    render() {
      return (
        <div>
          {checkIfImage(this.props.file.extension) && <img src={this.props.file.url}></im

[2019-01-29 18:47] cipriandraghici93 commented on #52
Ok...Thank you for the answer ! :D

On Tue, Jan 29, 2019, 20:30 Ryan Battistone <notifications@github.com wrote:

[2019-01-30 03:49] jarekwg commented on #33
Nice! Yeah, custom props is more for stuff like passing in a callback to close the preview.

[2019-01-31 06:50] jlo-1 commented on #45
Hi @YassienW,

We primarily use this package with S3, which appears to distinguish folder from files by appending a trailing slash. Will look into updating this package to potentially work in a similar fashion in the coming days.

File size of 1 sounds yuck.. :)

Thanks for reporting!

[2019-01-31 13:58] jarekwg commented on #45
So changing RKFB to use trailing slashes as its criterion for what is considered a folder (rather than have it looking at file size) will fix this, yes?

[2019-02-05 23:40] jlo-1 commented on #44
As @jarekwg mentioned in https://github.com/uptick/react-keyed-file-browser/issues/24, we have no intention on supporting Typescript, however, we are happy to merge in a definition file if someone would like to contribute. Thanks!

[2019-02-05 23:42] #33 closed

[2019-02-05 23:44] #30 closed

[2019-02-06 00:30] #52 closed

[2019-03-06 06:14] jlo-1 commented on #49
Thanks @raniel90 !
Merged via https://github.com/uptick/react-keyed-file-browser/pull/50

[2019-03-06 06:14] #49 closed

[2019-03-07 04:38] jlo-1 commented on #45
Fixed and merged in https://github.com/uptick/react-keyed-file-browser/pull/53. FolderRenderer will now be used if a file key ends with a trailing slash, and FileRenderer will be used otherwise.

[2019-03-07 04:38] #45 closed

[2019-03-14 11:27] lh-hoon opened #54 "[Feature Request] Support Multiple instance."
When I use more than one component, I got error 'Cannot have two HTML5 backends at the same time.'

[2019-03-14 11:35] lh-hoon commented on #54
My mistake.. 😂

[2019-03-14 11:35] #54 closed

[2019-03-14 11:36] jarekwg commented on #54
Nah, legit question.
Use the `RawFileBrowser` instead, and wrap with html5 backend yourself. We have a special html decorator, which we use to make sure all things that need html5 backend use the same one.

[2019-03-18 10:38] girijant opened #55 "Module not found: Error: Can't resolve 'utils'"
Hi,
Trying to build by 'npm run build' after downloading from the master branch('react-keyed-file-browser-master'), seeing below error :

[code]
It seems 'utils.js' file is missing from the 'react-keyed-file-browser-master' dir. Please update the master branch with proper source files.

Thanks,
~Girija

[2019-03-18 14:00] ilangorajagopal opened #56 "Option to set default selection"
I love this module! I've managed to set it up by looking at the source code. I noticed that selection is stored in state and set when an item is clicked. I think a `defaultSelection` option would be nice to have.

[2019-03-18 23:37] jlo-1 commented on #55
Thanks for reporting!
utils.js file has been added to the master branch

[2019-03-18 23:37] #55 closed

[2019-03-21 17:09] girijant opened #57 "Unable to generate 'react-keyed-file-browser.js' in 'dist' dir even though npm-build is successful by 'npm prepublish' or 'npm run build' command"
**Step-1:** As I've Windows-10 OS, so modified only the **'scripts' section(build-js, build-css, build)** of the 'package.json' as below in order to make the npm-build successful:

[code]
**Step-2:** Executed 'npm install' or 'npm prepublish' or 'npm run build' to build the project, build is successful, 'dist' directory is created with 'react-keyed-file-browser.css' file. Not seeing the 'react-key

[2019-03-22 00:14] jlo-1 commented on #57
Hi thanks for reporting!
The package just had a webpack upgrade in which i set the webpack output path incorrectly.
See here for resolution https://github.com/uptick/react-keyed-file-browser/commit/b1961342c87544ee70a02db3dc4943142880807a
Closing the issue, please reopen if you don't see `react-keyed-file-browser.js` in the `dist` folder after running `npm run build` or `npm prepublish`

[2019-03-22 00:14] #57 closed

[2019-03-22 09:19] girijant opened #58 "'define' is not defined Error while using the 'FileBrowser' component after building ('dist/react-keyed-file-browser.js')"
**Step-1:** After executing 'npm run prepublish', build is got successful, both 'react-keyed-file-browser.js' and 'react-keyed-file-browser.css' files are observed from the 'dist' directory.
**Step-2:** Imported and used the 'FileBrowser' component from the above 'dist/react-keyed-file-browser.js', Seeing below compilation error by 'npm start':
[code]
**Step-3:** Installed 'react-keyed-file-browse

[2019-03-23 04:06] jlo-1 commented on #58
Hi @girijant, are you able to show me your FileBrowser import statement where you are trying to import the component.

Cheers

[2019-03-23 15:24] girijant commented on #58
Hi @jlo-1, Here are the steps, how I used the 'react-keyed-file-browser.js' in my project
**Step-1:** Created a sample project 'Test-Demo' inside the 'react-keyed-file-browser-master' project.
**Step-2:** After building the 'react-keyed-file-browser-master', copied both 'react-keyed-file-browser.js' and 'react-keyed-file-browser.css' files from the 'dist' to my project dir 'Test-Demo/file-browser'

[2019-03-26 06:04] girijant commented on #58
@jlo-1,
Please let me know if you need any additional info.

Many Thanks,
~Girija

[2019-03-29 09:21] girijant commented on #58
@jlo-1 , @scaredcat,
Is anything wrong in my project setup or any update on this ticket ?

[2019-03-30 01:01] scaredcat commented on #58
Hi @girijant

I'm assuming the reason you're building `react-keyed-file-browser` yourself instead of importing it from the npm package provided is that you'd like to make some changes to our code to suit your particular project. If that is the case, the part that is going wrong is where you copy the build output into your `Test-Demo` project and it is trying to transpile the code a second time, th

[2019-04-03 15:40] raveenakothapally opened #59 "Action bar does not have "Add File" action"
I failed to find a way to add a new file via action bar. Is this something that should be done differently outside of the library (Like adding a new file to `files` prop) or is there a way to get this done through action bar?

[2019-04-03 15:44] raveenakothapally commented on #56
@ilangorajagopal, I believe you can maintain the selection / default selection via props:
[code]

As you might have observed, `isSelected` can be set to true to your default value when appropriate `fileKey` is matched initially.

[2019-04-04 04:18] jlo-1 commented on #59
Hi @raveenakothapally as mentioned in https://github.com/uptick/react-keyed-file-browser/issues/52
 we use a separate component for uploading files that updates the file browser if the upload is successful. We don't have any plans to add an Add File button to the actions bar but if you'd like to contribute, make a PR and we will review :)
Cheers
Jordan

[2019-04-04 04:46] raveenakothapally commented on #59
@jlo-1,
I will see if I can get a PR but as a work-around I used the following create folder handler to treat the added folder as a file if it has a `.` in the name:
[code]

The library differentiates a file from a folder based on `size` property - so I set it if I find `.`.

This may not be reliable as the library may internally update to a different logic in future to differentiate files and fol

[2019-04-04 05:43] jarekwg commented on #59
This will be changing in the next release to look for trailing slashes instead.

[2019-04-04 06:07] jlo-1 commented on #59
@raveenakothapally
You're absolutely right, this has actually already been done. See https://github.com/uptick/react-keyed-file-browser/commit/df16297ce10df65c0687659aee7808e519407530
The library was updated to check for a trailing slash to differentiate between files and folders instead of file size.
A helper function isFolder was added in `src/utils.js` https://github.com/uptick/react-keyed-file

[2019-04-05 07:01] girijant commented on #58
@scaredcat ,
The intention of building 'react-keyed-file-browser' is to modify some source components as per my project need. Thanks and appreciating your analysis for this issue . But main root cause of my issue is below :

 **After executing 'npm run prepublish', build is got successful, both 'react-keyed-file-browser.js' and 'react-keyed-file-browser.css' files are observed from the 'dist' dire

[2019-04-05 20:04] scaredcat commented on #58
Hi @girijant

A simple solution to your problem would be to copy your `react-keyed-file-browser` build and replace the one currently in `node_modules` such as
[code]
If you don't have bash installed, simply open explorer and manually replace the files. Afterwards use
[code]
to import your build.

Since you've replaced the one in `node_modules` with your own, this will now be importing your version

[2019-04-17 09:47] scaredcat commented on #58
Closing this issue since haven't heard anything back. Can reopen if still need help.

[2019-04-17 09:47] #58 closed

[2019-05-03 22:19] useafterfree opened #60 "memo is not a function"

[2019-05-03 22:19] #60 closed

[2019-06-14 17:29] kkseven07 opened #62 "Folder/file onclick?"
How to make a trigger for onClick on folder and file? Checked similar issues, found one example from the author, but that example was not addressed to my question fully.
I'm using FileRenderer and FolderRenderer to make custom file and folder components. How can I access onClick there?

[2019-06-14 17:50] kkseven07 commented on #62
I need folder onClick to load the files of this folder when it expands

[2019-07-07 12:51] rchawdry commented on #56
Does the above open all of the folders that the given default selection is nested within?  I couldn't confirm whether this is possible.

[2019-07-13 06:14] nsmithdev commented on #27
react-dnd version 3.0.2+ uses context which requires React 16+
https://github.com/react-dnd/react-dnd/issues/1101

Current version is now 9.3.2

[2019-07-16 05:29] zentrapool commented on #48
@dguayrobotiq
Did you find how to do it?
Thanks

[2019-07-16 12:15] dguayrobotiq commented on #48
@zentrapool sorry we finally made our own solution to have more flexible behaviors

[2019-07-30 06:28] watanabethais opened #65 "Sort by Modified not working"
I've tried to use the following code, but it continues sorting by name:

[code]

Am I missing something in here?

[2019-08-12 18:47] rayovims opened #67 "Rendering paths from map function"
The issue that I am currently facing is that I am trying to render the files with the map functionality. The problem is that I am rendering the actual FileBrowser component every time and can't seem to find the way to map through my array of paths within the FileBrowser component. Here is the code. Hopefully, you understand what I am trying to do.

        if(this.state.path.length !== 0) {

[2019-08-12 19:08] rayovims commented on #67
EDIT: All I had to do was have my path array holding objects with key 'keys'. so this.

this.state.path.push({key: path});

<FileBrowser files={this.state.path}/>

And that works!

[2019-08-12 19:08] #67 closed

[2019-08-13 14:59] OLoup opened #68 "CSS not rendering"
Hi there,

I tried to use you library for a project, but the CSS is not used. I tried adding "import 'node_modules/react-keyed-file-browser/dist/react-keyed-file-browser.css';" in the file I am using FileBrowser but it has no effect.

The project context is React with JavaScript, and usually we use SCSS or CSS. I saw that some of your files are SASS.

Do you know how can I render with the CSS of y

[2019-08-13 16:23] OLoup commented on #68
Nevermind, I resolved it adding "import '../node_modules/react-keyed-file-browser/dist/react-keyed-file-browser.css';" in the App.jsx file.

[2019-08-14 11:38] #68 closed

[2019-08-19 14:54] seanmadi commented on #19
@jarekwg Would you accept a PR with just localization support for the labels in the Action bar? It may just be the way I'm using it, but I've been able to add localization to all of the other places by utilizing the renderers (FilterRenderer, FileRenderer, FolderRenderer), and the Action bar seems to be the only place I can't override that includes hardcoded text.

[2019-08-20 00:50] jarekwg commented on #19
Sure, have to start somewhere. :)

[2019-09-20 00:56] takifouhal opened #69 "empty folders don't show up"
when i load the state with empty folders they don't show up

[2019-09-20 02:23] jarekwg commented on #69
Example code please.

In a recent release we changed the definition of "folder" from:
"a file with no size"
to
"a file with a trailing slash"

https://github.com/uptick/react-keyed-file-browser/blob/master/src/utils.js#L2

[2019-09-20 02:23] takifouhal opened #70 "how to upload files"
when i drag&drop files they get added to the ui but i don't know what function get invocked

[2019-10-04 11:59] SinghPuneet opened #71 "onSelect does not return selected item"
handleBrowse = (selectedItem) => {
      console.log(selectedItem)  // undefined

     }

	 <FileBrowser
          files={this.state.files}
          icons={{
         Folder: <Icon name="folder" />,

         File: <Icon name="file" />
          }}
          renderStyle="list"
        onSelect={this.handleBrowse}

      />

[2019-10-10 06:12] #71 closed

[2019-10-10 06:12] SinghPuneet commented on #71
Marking it closed.
It works well.
if there is no leading "/" in file/folder paths.

files=[ {key:"dev/"},
     {key:"proc/"},
     {key:"run/"},]

[2019-11-08 02:58] irosadie commented on #62
please use props onSelect, filter by "undefined" for folder or object for file

[2019-12-09 16:55] hokevins opened #82 "[Enhancement] Expose prop to turn off "Confirm Delete" button for user to define their own custom confirm deletion"
Hi, I'd like to define my own deletion confirmation modal and hook that into the callback for onDeleteFile and onDeleteFolder.  So I'd render the modal visible in the confirm deletion callback, and then upon confirming the modal, some actions would take place to execute the deletion.

So is it possible that a bool prop can be exposed to turn off the "Confirm Deletion" button and instead invoke the

[2019-12-09 22:53] scaredcat commented on #82
Hi Kevin,

You can pass in `fileRenderer` and `folderRenderer` props to overwrite the defaults showing the `Confirm Deletion` button.

You can copy the default implementation from here https://github.com/uptick/react-keyed-file-browser/blob/79b0c9a6d4cd2d7a54711fa6986725e56e3025e8/src/files/table.js into your own project and customise the part showing the form with the confirm button. I'd most lik

[2019-12-10 20:11] hokevins commented on #82
Hi Retief,

Thanks for the suggestion -- but it's a slightly roundabout way to achieve what I'm trying to do and there's a non-insignificant amount of maintenance overhead for me to fork the entire table.js file to customize just one thing.

Instead, what I'm looking for is just a prop exposed i.e. `showConfirmDelete` that is a bool which determines whether or not to show that confirmation button

[2019-12-11 00:08] jlo-1 commented on #82
Hi Kevin,

A `showConfirmDelete` prop may suggest that having a confirm delete button is optional rather than existing to show/hide the button in our file and folder renders. Also not convinced conditionally rendering is best as confusion could be caused if confirmation logic exists elsewhere (like in your modal) and `showConfirmDelete` is false.

What you could do is pass a `ConfirmDeletionCompon

[2019-12-11 16:51] hokevins commented on #82
Awesome, that sounds like a good plan.

Do you have a contribution guide?  I was not able to find any docs.

[2019-12-11 21:16] hokevins commented on #82
^ I've just submitted a PR, thank you in advance for taking a look.

I decided to make this change more in-line with the naming convention and file structure that already exists within your repo.

To that end, I've modularized and plugged `<ConfirmDeletionRenderer>` into all 4 places where the "Confirm Deletion" button has been inserted:  files/table.js, folders/table.js, files/list-thumbnail.js,

[2019-12-12 05:58] jlo-1 commented on #82
Thanks again @hokevins
It has been merged and released in v1.6.0

[2019-12-12 05:58] #82 closed

[2019-12-12 14:11] hokevins commented on #82
Thank you!

[2019-12-13 05:19] scaredcat commented on #70
Hi @takifouhal ,
I believe you're looking for the `onCreateFiles` and `onCreateFolder` props passed into the browser.

[code]

[code]

And then when you instantiate a new file browser you can pass them in like
[code]

Let me know if this helps.

[2019-12-13 05:20] scaredcat commented on #69
closing due to inactivity

[2019-12-13 05:20] #69 closed

[2019-12-13 05:32] scaredcat commented on #65
Hi @watanabethais

Are you able to check whether your `this.state.files` have a modified date on the individual files?
Similar to the example below
[code]

[2019-12-13 05:35] scaredcat commented on #62
We also have `onSelectFolder` and `onSelectFile` props available if you only want to trigger a load when a folder is selected.

Please re-open the issue if this does not solve your problem.

[2019-12-13 05:35] #62 closed

[2019-12-18 14:08] dwojno opened #84 "Replace Moment.js with date-fns or other alternative"
Hi,
Are considering replacing big and heavy moment.js with some smaller and tree-shakeable alternative?
I can do it by myself, if you're willing to accept it.

[2019-12-19 00:06] jlo-1 commented on #84
Hi @dwojno
We currently do not have any plans to replace moment.js however if you'd like to refactor with date-fns we will gladly review it.

Cheers

[2019-12-24 12:21] ylacaute opened #85 "Incoherent behaviour with preview (detailRenderer) on simple/double click"
When you are navigating in the tree with simple click, the renderDatails function does not always return the selected file. When you double click, the last renderDetails return the good file (but spams events).
Tested on 1.6 and master branch (storybook).

I tryed to write a PR but I think I am afraid to refactor too many things. I don't understand why you dissociate selection and preview behaviou

[2020-01-19 23:55] #13 closed

[2020-02-02 02:04] graywolf336 commented on #44
I was in need of TypeScript support as well since I am trying out this project, so I spent some time and got a definition file started. It is not complete in the slightest nor do I promise it is correct.

Huge shoutout to the project creators and maintainers for this great project! 👏

[code]

[2020-02-07 16:54] ossareh commented on #44
@graywolf336 any chance you have this in a fork? I checked your profile but could not see it. If not I'm happy to create a fork, and add this, and then submit it as a PR.

[2020-02-07 20:56] graywolf336 commented on #44
I do not have this in a fork, I just use it modules definition folder. Not all of the items are correct due to my understanding of TypeScript and React, especially the renderers.

[2020-02-21 10:53] dagrel opened #92 "Moving files does not seem to work"
In the demo you can both move folders and files. However when I tried to implement the module it only worked for moving folders, but not files.

I am running on React 16.8.0. I tried creating a Sandbox where I changed to older and newer React versions, but this did not help either. Any ideas as to why this is not working?
Posting the Sandbox that I tried out below. It runs the latest React version

[2020-02-22 05:22] scaredcat commented on #92
Hi @dagrel ,

It seems you are able to move files as well. The trick is to select them first (indicated with a bold highlight) then move them rather than move the without selecting.

This change has been introduced with 1.7.0 release. If you wish to have the earlier behaviour, for the time being please use 1.6.1 instead.

[2020-02-25 18:18] mishaschwartz opened #93 "OSX compatible multiple selection"
Version 1.7.0 introduced the ability to select multiple files/folders by clicking multiple rows while simultaneously holding down the ctrl or shift keys (https://github.com/uptick/react-keyed-file-browser/pull/86/).

On OSX this works well for the shift key but does work for the ctrl key. This is because on some browsers (chrome for example), ctrl+click sends a `contextmenu` event not a `mousedown

[2020-02-26 04:43] #93 closed

[2020-02-29 20:12] SinghPuneet opened #95 "how to retain openFolders: Object { "someFolder/": true } on rerender ."
I have a scenario where on clicking a folder a fetch call to get sub directories is done.
Issue i am facing is this cause a render and I have to click again on parent folder to see the sub directories. It will be good if on render I can maintain openFolder State.
Is there a way to do this ?

[2020-03-02 19:40] jestrickler opened #96 "How to add a file action"
I am interested in adding an action to copy the selected file's url to the clipboard. I see where you can pass an actionRenderer through the browser props, but I am unclear on how to get ahold of the DefaultAction for existing actions (as it doesn't appear to be exported), or to extend it to add my custom action. Can you provide any pointers?

[2020-03-03 00:20] scaredcat commented on #95
Hi @SinghPuneet I've tried to re-create a scenario where clicking on a folder fetches data and adds it to the list of files passed in as a prop. I was unable to reproduce the folder closing when the component re-renders.

Are you able to provide a code example on a sandbox?

[2020-03-03 00:35] scaredcat commented on #96
Hi @jestrickler the default `actionRenderer` lives here https://github.com/uptick/react-keyed-file-browser/blob/master/src/actions/default.js but it isn't exported.

In your situation you can make a copy of this file in your project and pass it in as the `actionRenderer` prop. You can then modify the component to display a `copy to clipboard` button inside of the if here https://github.com/uptick/

[2020-03-03 15:03] jestrickler commented on #96
Ok, I can approach it from that angle. Thanks, and thanks for the nice react component!

[2020-03-03 15:03] #96 closed

[2020-03-26 21:02] spennythug commented on #28
Is there still interest in this feature? I came here to ask about lower level renderers to fill a similar need. Something to the effect of `headerColumnRenderer`, `folderColumnRender`, and `fileColumnRenderer` to make it so you don't have to override the entire row just to change the columns. This is still 3 edits, however, it would greatly decrease the complexity of the overrides.

Having the abi

[2020-03-27 00:18] jarekwg commented on #28
Yep, definitely.
If we could have a single `columns.js` file that returns a list of dicts defining how the header, file and folder renderers behave for each column, might be a worthy addition. However, getting this to play nicely with the thumbnail renderers could be a bit of a puzzle. Perhaps the columns approach would only be applicable for `renderStyle='table'`. Also, such code would have a lot

[2020-03-27 19:38] spennythug commented on #28
Sounds good! These are good thoughts/suggestions. I hadn't considered the thumbnail view as we're not currently using it.

I'll take a crack at #92 and see what I can do. I'll keep this in mind as I'm working.

[2020-04-14 16:15] rdhara commented on #28
This is a great library @jarekwg! Really enjoying using it and happy that it's quite flexible. I am interested in column customization as well - namely, I don't need a table header and I don't need the file size/modified information.

I was able to squash the header by passing the prop `headerRenderer={() => null}`. I was also able to modify the action buttons by copying the actions file locally s

[2020-04-14 16:29] jarekwg commented on #28
Unfortunately not at the moment. Custom file renderer is the only way to go.

[2020-04-14 16:32] rdhara commented on #28
@jarekwg Thanks for the quick response. I'm fine with the custom file renderer, but does that mean I need to also keep all the file dependencies locally (like base/utils) since I'm importing the element? And install the external dependencies locally (like `moment`)?

[2020-04-14 17:30] spennythug commented on #28
@rdhara I have custom columns by overriding the file renderer. It works pretty well and it's likely not as bad as you're imagining. I pulled all the file dependencies into my project locally like you stated. Install the external dependencies, if they come up missing when you run your project.

The thing you'll need to keep in mind is that you'll (probably) have to do this all over again when you w

[2020-04-14 17:52] rdhara commented on #28
@spennythug Thanks for the heads-up! If I do need to go down that rabbit hole in the future I'll definitely give the local clone a shot. For now, since I just needed to hide those columns I was able to hack it with
some CSS:
[code]

[2020-04-28 16:21] rdhara commented on #95
@scaredcat I have a related issue where the overall folders kept aren't saved between renders of the full component, which is not unreasonable. I wonder if there is a way to save the state and pass it to the component so that open folders remain open; native would be ideal, but even a prop for open nodes could be helpful here. Any thoughts? Thanks in advance!

[2020-04-29 00:45] scaredcat commented on #95
Hi @rdhara could you please provide a code example?
The folders shouldn't be changing between re-renders unless you are passing in a different set of folders each time you render the component.

[2020-04-29 14:22] rdhara commented on #95
Hi @scaredcat Sorry maybe my wording was vague. The folders are the same, the problem is that if I open a folder, navigate away from the page that includes the file browser, and then come back to it (or change any prop it's connected to thereby triggering a re-render) all the folders close again. For instance, I'm able to do this "keep open folders open" logic in Material UI's `TreeView` by connec

[2020-04-30 02:58] scaredcat commented on #95
it makes sense what you are trying to achieve. It doesn't seem to be currently possible with our setup.

I'd recommend adding an extra prop that accepts the list of folder keys that should be open on first render. This prop will then set the initial `openFolders` state or default to the current empty object `{}` if not passed in.
 You can then use the existing `onOpenFolder` and `onCloseFolder` pr

[2020-04-30 15:29] rdhara commented on #95
Got it yeah that's what I was thinking. I'll give it a shot after our product launch. Thanks!

[2020-05-04 07:44] cornelast opened #104 "Download files"
Hi,

am I just really stupid or do I miss the option to download files? I can see there is a function there, but I cannot seem to find a way to get the link displayed.

[2020-05-04 07:57] scaredcat commented on #104
Hi @cornelast ,
Please make use of the `onDownloadFile` prop. That function is passed to the `onClick` handler for the Download button in the default `actionRenderer`.

If you've overwritten the `actionRenderer`, then you should be able to implement your own download button in your custom `actionRenderer` that you passed in as a prop.

[2020-05-04 08:18] cornelast commented on #104
Yeah, working great, thanks.

[2020-05-04 08:18] #104 closed

[2020-05-12 10:03] fbessou commented on #44
Hello there ! Just to let you know that I am currently working on a PR based on @graywolf336's work.

[2020-05-12 12:53] graywolf336 commented on #44
Please double check everything as I can't promise you the renderers are correct. 😬

[2020-05-12 17:43] fbessou commented on #44
@graywolf336, I sent a PR with the type definitions can you check that it doesn't break your project ? :slightly_smiling_face:

[2020-05-13 06:25] ziaulrehman40 commented on #25
Please layout some plan/instructions so people can help.
And we can start small, like in start we can mention that docs are incomplete, and after multiple PRs when docs are complete we can remove that warning.

[2020-05-13 10:29] ziaulrehman40 commented on #16
With the sandbox example, i am getting:

[code]

[2020-05-13 10:45] ziaulrehman40 commented on #16
Ok, this is what happens when you don't have docs :smile:

Download can be done with https://github.com/uptick/react-keyed-file-browser/issues/104

[2020-05-14 06:05] ziaulrehman40 commented on #70
@scaredcat I am looking for an example of upload file with some kind of progress bar to indicate to user. progress of each file being uploaded.
Is there an example available for that?

Thanks.

[2020-05-14 08:23] ziaulrehman40 opened #107 "onCreateFolder is not called if onRenameFolder is not provided"
This took quiet some time to debug, but it seems `onCreateFolder` is not called if `onRenameFolder` is not defined, we want to enable new folder creation but we don't want to allow renaming of the folder. This is making it impossible.

Trying to find the root cause to avoid it with some sort of monkey patching.

It seems it returns from:

[code]
this if in `base-folder.js`

[2020-05-14 08:35] ziaulrehman40 opened #108 "When spamming around with create folder(and not actually creating it) __new__ named folder is sometimes visible"
![image](https://user-images.githubusercontent.com/22441482/81912138-a0718680-95e7-11ea-97a3-15cdb055875a.png)

Sometimes when playing around with add folder, this kind of behavior happens.
Trying to pin point when and how it happens, but for now at-least a report of it happens should be made.

We can add reproduction steps and fix it later on.

version: 1.8.0

[2020-05-14 08:38] ziaulrehman40 commented on #108
![Peek 2020-05-14 13-36](https://user-images.githubusercontent.com/22441482/81912501-1544c080-95e8-11ea-8822-9629409e2471.gif)

Here is the reproduction, try to create a folder in a sub folder, don't create it, click outside and click create folder on root, and there you have it.

[2020-05-14 08:41] ziaulrehman40 commented on #107
For now, i had to use local copy of the whole thing to change this one line of if to:

[code]

Not even sure if this is correct way to do it, but it works. And we are not using rename so should be fine

[2020-05-14 11:59] ziaulrehman40 opened #109 "Dropping in a folder gives raw file object, should give all nested files object to onCreateFiles"
`onCreateFiles` gets called with a file object with only folder name and some other attributes, which is not useable(as far as i know).

If a folder is dropped, all files in the folder should be returned, or some other way user should at-least be able to process the folder for the upload.

[2020-05-14 12:00] ziaulrehman40 commented on #48
@dguayrobotiq by any chance did you open sourced that solution? :smile:

[2020-05-14 12:06] dguay commented on #48
@ziaulrehman40 Sorry we did not

[2020-05-14 12:29] ziaulrehman40 commented on #59
Well, I also want to allow user to manually click add file while in a directory(just like user can click delete when in a directory) and on that open file selector, and on selection of files, upload those files.

The solution @raveenakothapally has pasted i believe may work for creating empty files, but not to upload files with manual selection instead of drag and drop.

[2020-05-14 13:08] ziaulrehman40 commented on #42
Well, this works:

[code]

I think this issue should be closed

[2020-05-18 01:12] scaredcat commented on #70
Hi @ziaulrehman40 right now we don't have that as part of this repository. It is a bit of an oversight and can be included in the future. Currently you'd want to follow these general steps:

1. Create a component that renders the progress bar
2. Create a function that uploads files and tracks the progress using something like the `progress` event listener (see https://codepen.io/PerfectIsShit/pen/

[2020-05-18 01:38] scaredcat commented on #107
The issue is when you create a folder, it immediately wants you to rename this newly created folder.

I think your fix is correct. You could also have used `&& !this.props.isDraft` instead which would enable you to set the name of draft (newly created) folders.
Happy to accept a PR for this fix if you want to raise one.

[2020-05-20 07:10] ziaulrehman40 commented on #27
Current version is now 10, we really need to do something about this.

[2020-05-20 07:30] ziaulrehman40 commented on #27
I just checked and you can bump version to 8.x pretty much doing nothing, version 9+ requires switching to context api from decorators and HOCs

[2020-05-20 07:32] jarekwg commented on #27
Happy to accept a PR!

[2020-05-20 07:59] ziaulrehman40 commented on #107
@scaredcat PR is up

[2020-05-20 08:00] ziaulrehman40 commented on #27
@jarekwg PR is up

[2020-05-20 08:13] jarekwg commented on #27
Cheers, we'll get someone to review and publish soon!

[2020-05-20 09:47] ziaulrehman40 opened #111 "Anyway to disable multiple selection"
Is there a built in way to disable multiple selection of files/folders(anything), there can be any reason to do so. We just need this functionality.

[2020-05-20 10:03] ziaulrehman40 commented on #111
As a workaround in `browser.js`'s `renderActionBar` method

[code]

This hides action-bar if multiple items are selected.

I know this is rough patch, but I am already using complete copy of the library to customize some other behaviors, so it doesn't bite us. Posting here so it may help anyone else looking for same.

[2020-05-21 02:54] #107 closed

[2020-05-27 02:12] arlandgoh opened #113 "How to download the file? or view content of a file?"

[2020-05-28 04:06] jarekwg commented on #113
See #33. Your detail renderer can include a download button. If you want a download option directly from file browser, perhaps something can be done using custom actions.

[2020-05-28 10:39] ziaulrehman40 commented on #108
This issue is actually happening a lot, specially for case when there is no other file and a folder is being created on root

[2020-05-29 17:54] jestrickler commented on #59
Exactly what I'm looking for

[2020-05-29 19:23] ziaulrehman40 commented on #59
@jestrickler  if you are talking about what i mentioned,

I have put in a rough patch, but for that i had to copy whole plugin as i needed to modify multiple files and at the time had few other issues to fix as well in same plugin

If you want i can share those details, or perhaps put up a pr if possible.

TBH this plugin is not mature and needs a lot of work, but hey, something is better than not

[2020-06-01 12:30] ziaulrehman40 commented on #108
@scaredcat Would you please review PR for this bug fix. Thanks.

[2020-06-02 03:41] brennanbatalla opened #115 "On selection callback?"
I am not sure if this exists, but I was looking through the code and was unable to find a callback when you click on a file or folder that returns the file object.

[2020-06-22 22:15] #108 closed

[2020-06-27 00:07] nerdogram opened #117 "How to use using JSX?"
Noob question but I am having difficulty implementing the basic example using JSX?

[code]

How do you make this work? Thanks!

[2020-07-06 16:56] flavienbwk opened #118 "Pagination on fileRenderer property ?"
Hello,

I would like to be able to paginate the directories I transmit to my React Keyed File Browser component. Is this component able to handle pagination ?

Thanks

[2020-07-07 06:33] klm-lab commented on #115
HI @brennanbatalla

`<FileBrowser
    onSelectFile={this.handleSelectFile}
    onSelectFolder={this.handleSelectFolder}
/>`

[2020-07-07 07:01] klm-lab commented on #118
HI @flavienbwk

I don't think they have that yet.

You can simply fetch the paginate data form server and update the state, `files: [] `when changing page, Get the paginate data with some extras meta data such as total, prevPage, nextpage .... and do the tricks.

[2020-07-07 08:10] flavienbwk commented on #118
Thanks I wanted to avoid that to keep the search functionality.

[2020-07-07 22:07] flavienbwk commented on #118
If only the folderRenderer would return an iteration number in addition to the folder as callback arguments, this library might be used to perform pagination.

[2020-07-10 07:22] klm-lab commented on #118
Okay, I see. You're right, I hope they add it soon.

[2020-07-10 10:48] shamseerahammedm commented on #62
onSelectFolder  and onSelectFile is not documented

[2020-07-26 16:08] santoshkanuri opened #121 "how to display empty folders."
Hi flocks,
    is there any way to display empty folders.
Thanks in advice.

[2020-07-30 21:48] micaderito opened #123 "How can I change the language?"
I'm triying to change the headers and messages to Spanish, how can I do that?

Thank you!

[2020-07-31 02:34] jarekwg commented on #123
Not currently supported, but you can override the renderers altogether, or offer a PR.

See #19

[2020-07-31 02:34] #123 closed

[2020-07-31 04:45] micaderito commented on #123
Thank you !

[2020-08-04 12:44] OscarWoHA opened #124 "Switching away from using react-dnd decorators"
Hi!

We've been having some issues with users crashing while switching from one route to another because the old DragAndDropContext creates a new backend on top of the previous one.

Pretty sure moving away from the now called "legacy"/deprecated decorators will resolve the problems. I might be able to put some time into a PR for this exact change, let me know if that's wanted.

[2020-08-04 12:47] jarekwg commented on #124
By all means, please!

Related: #27

[2020-08-04 14:05] oliverfoster opened #125 "Readme files array should be encased in curlies"

[2020-08-04 14:11] #125 closed

[2020-08-05 08:06] alvone01 opened #127 "Weird behavior when naming a folder __new__ and cancel renaming"
Hi !

- I observed this weird behavior when naming a folder __new__, which seems to be used internally by the library, but works. However, after creation of the folder, when I try to rename another folder, the selection defaults back to the existing folder with name "__new__"
![file_browser_issue_1](https://user-images.githubusercontent.com/37146981/89387245-cd3fc080-d734-11ea-9395-b041a766e758.gi

[2020-08-05 22:15] rsegrest opened #130 "Running into a problem with Jest unit tests"
I am using react-keyed-file-browser with an existing project. We are required to do unit test coverage, but when I import FileBrowser I get the following Jest error:

SyntaxError: Cannot use import statement outside a module

I was able to resolve the error by changing the file name of react-keyed-file-browser/index.js to 'index.mjs' indicating that it is an external module.

Is there another way

[2020-08-06 09:08] scaredcat commented on #130
Testing components that are wrapped in react-dnd (such as our file browser component) is a bit tricky due to the dependencies on browser functionality. You can have a look here https://react-dnd.github.io/react-dnd/docs/testing for suggestions on how to test it.

[2020-08-06 14:03] oliverfoster opened #131 "Rename icon not working"
fa-i-cursor for fontawesome v5 should have fas prefix for free fontawesome rather than far which is only available in the pro version.

Currently have to override icons:
[code]

Instead of:
[code]

[2020-08-07 02:04] ThomiReynoso commented on #33
Hi @jarekwg, could you give me an example of how to implement my `CustomDetailRender` to be able to pass my own props to this?
I guess that my own props needs to be declarared inside the object that is sent on `file` attribute:

[code]
Where `fullKey` is my own prop.

And then
[code]
How can I receive these own props in the `CustomDetailRender.js` component?

Thanks you!

[2020-08-07 04:02] jarekwg commented on #33
Define like this:
[code]

The file browser will spread your props into your detail renderer on your behalf:
https://github.com/uptick/react-keyed-file-browser/blob/d0e9bf0824ef89bde2b3a1123bebf696a7108ea8/src/browser.js#L715-L719

[2020-08-10 13:37] oliverfoster opened #133 "request: canDownloadFolder and onDownloadFolder"
This is useful to me as my server-side will be zipping and unzipping multiple files/folders

[2020-08-10 13:39] oliverfoster opened #134 "bug: onCreateFiles doesn't call when files are dropped on an empty root"
It is not possible to represent an empty directory and make an initial upload.

[2020-08-10 15:04] #131 closed

[2020-08-13 10:19] oliverfoster opened #135 ".npmignore in conflict"
https://github.com/uptick/react-keyed-file-browser/blob/master/.npmignore

There are no .jsx files, instead there are only .js files, so the first line of the .npmignore file is a bit redudant.

For the npm package webpack.config.js is not included but all of the src files are there.

It would be clearer if either none or all of the source-code is included.

[2020-08-13 13:31] oliverfoster opened #136 "webpack.config.js uses both include and exclude"
As the babel-loader is using an exclude of /node_modules/ it is impossible to work on this module whilst it's being used in another project.

Suggest switching to use the sass include directive.

[2020-08-13 13:51] oliverfoster opened #139 "npm commands don't execute in git bash / windows"
Suggest changing from:
[code]
To a more system agnostic syntax:
[code]

This will then work with git bash, unix-style terminals and the cmd prompt. This is as either the bash script or cmd script will be executed appropriately using those new paths and that all systems understand the `&&` syntax rather than the unix `;`.

[2020-08-21 05:14] #139 closed

[2020-08-25 06:29] #133 closed

[2020-08-25 18:28] vinicvaz commented on #115
Hello.
onSelectFile is working fine but onSelectFolder event is returning undefined, any sugestions please?
Thanks

[2020-08-26 02:45] #9 closed

[2020-08-26 18:19] vinicvaz opened #143 "onSelectFolder - folder path"
Hello.
Is it possible to get the folder path when click on folder?
I tried with onSelectFolder but it returns only undefined.
Thanks

[2020-08-30 21:27] RebeccaWang0221 commented on #104
Hi,

I am trying to use the package but failed to implement the download function. Would you provide a simple example of how to do this? I've read through the issues but still couldn't figure it out. Thank you so much!

[2020-08-31 00:12] scaredcat commented on #104
@RebeccaWang0221

You can use the props as demonstrated in the code snippet below. Let me know if you have any issues.

[code]

[2020-08-31 16:39] RebeccaWang0221 commented on #104
@scaredcat Thank you so much for your reply and help! The code is working now.

[2020-09-02 04:10] ankitbrahmbhatt1997 opened #145 "file.type is empty for doc and docx"
File.type is comings as an empty string when I try to upload doc or docx. Its working for other file types

[2020-09-15 20:42] harsh-tamr commented on #143
I've also seen this.
Related: https://github.com/uptick/react-keyed-file-browser/issues/115#issuecomment-680196503

[2020-09-15 20:43] harsh-tamr commented on #115
Duplicates: https://github.com/uptick/react-keyed-file-browser/issues/143

[2020-09-16 01:01] #143 closed

[2020-09-16 15:21] harsh-tamr commented on #115
Ok looking at the code I've discovered how the onSelect callback works.
If you files look like
`/a/b/c.txt, /a/b/d.txt`, then you will get undefined for the folder calls because no folders have been defined.

If you have `/a/, a/b/, /a/b/c.txt, /a/b/d.txt` then you will not get undefined but the folder you are looking for.

The problem lies in https://github.com/uptick/react-keyed-file-browser/blo

[2020-09-16 16:27] harsh-tamr commented on #115
also solved by https://github.com/uptick/react-keyed-file-browser/pull/149

[2020-09-24 07:40] venky0195 opened #150 "Option to download folder"
Hi, I'm unable to download a folder. However, download files is working.
 <FileBrowser
onDownloadFile={arrayOfSelectedItems => { console.log('downloadFile', arrayOfSelectedItems) }}
onDownloadFolder={(arrayOfSelectedFolders) => { console.log('downloadFolder', arrayOfSelectedFolders) }} />
I'm getting console for onDownloadFile, but no download button when I click on folder.
Thanks in advance

[2020-09-25 04:06] #115 closed

[2020-09-25 05:23] venky0195 commented on #150
Also, there is only below code in browser.js in node modules.
actionRenderer: ActionRenderer,
onCreateFolder, onRenameFile, onRenameFolder,
onDeleteFile, onDeleteFolder, onDownloadFile

There is no onDownloadFolder anywhere in the browser.js

[2020-09-27 23:35] mwfister commented on #150
Hi Venky, the latest release doesn't have the changes that includes the `onDownloadFolder`. I'm in the process of putting together a release. After it's released, if you still are having troubles, feel free to re-open this issue and we can look into it

[2020-09-27 23:35] #150 closed

[2020-09-28 02:02] mwfister commented on #150
@venky0195 You can now update to `1.10.0` to use `onDownloadFolder`

[2020-09-28 05:49] venky0195 commented on #150
Thanks @mwfister !

[2020-09-28 06:35] venky0195 opened #151 "Function to detect on outside click of folder/files"
Hi, I'm implementing custom breadcrumbs using the onSelectFolder.
Is there a way to detect outside click of files/folders? just like onSelectFile/onSelectFolder ?
Thanks for the help in advance!

[2020-09-29 20:26] jestrickler commented on #59
Sorry I didn't see this until now... I ended up copying and modifying the ActionRenderer to add an 'Add Files' action that launches a file picker.

[2020-09-29 21:37] jestrickler commented on #113
It's part of the built in actions. You just have to supply a handler to enable it onDownloadFile={...}. Ours makes a service call, the calls js-file-download with the results.

[2020-09-29 21:49] jestrickler commented on #121
Not sure what you mean. Empty folders display fine by default: (2020 Docs is empty)

<img width="157" alt="Screen Shot 2020-09-29 at 5 46 24 PM" src="https://user-images.githubusercontent.com/3867506/94619995-df913300-027b-11eb-87f2-65ecf7cb6bfc.png">

<img width="196" alt="Screen Shot 2020-09-29 at 5 46 39 PM" src="https://user-images.githubusercontent.com/3867506/94620018-e8820480-027b-11eb-8de5

[2020-10-01 17:56] jestrickler commented on #130
So, I worked my way past the dnd problems with jest moduleNameMapper: https://github.com/react-dnd/react-dnd/blob/2a50f87553676c770704f059244d1de8c4b5fc83/packages/documentation/docsite/markdown/docs/00%20Quick%20Start/Testing.md#setup

But I'm now hitting an issue with the react-keyed-file-browser itself:
[code]
This is just trying to get a tests to run, haven't got to functionality.

React-dnd s

[2020-10-01 20:45] jestrickler commented on #130
I've gotten past those issues with the following:
[code]
which is subbing int the dnd modules, and subbing in react-keyed-file-browser/src and allowing jest to transpile it (at least that's my intention)

but that results in:
[code]
And I ran upon some information on the subject from Mr Dan Abramov: https://github.com/facebook/create-react-app/issues/4648

I like this component and I don't mean to

[2020-10-14 18:20] jestrickler opened #152 "testing Add Folder with jest & testing-library"
Current versions ^1.9.0 have testing issues out of the box: #130; however, I was able to work with version 1.6.1. But when testing 'Add Folder', I either cannot seem to get the form to submit, or it leads to an error which I think might be related to it submitting:

dependencies:
[code]
browser.test.js
[code]
Scenarios 1-3 fail for not calling onCreateFolder, 4-5 are maybe submitting, but produce

[2020-10-14 19:27] jestrickler commented on #152
educated guess on the error: looks like it uses some refs when the name input is shown (new folder, rename) and seems there are issues with jsdom/jest/testing-library and refs being null...

[2020-10-22 05:59] #121 closed

[2020-10-30 17:37] jestrickler opened #153 "How can I programmatically select a file?"
I am using react-keyed-file-browser@1.6.1. What I'd like to do is if the url specifies a particular file  ('/files/{id}') show the file-browser with that file pre-selected as if all containing folders and the file itself had been clicked:

<img width="280" alt="Screen Shot 2020-10-30 at 1 26 34 PM" src="https://user-images.githubusercontent.com/3867506/97737826-e649da80-1ab3-11eb-8795-4fdfcc187852

[2020-11-02 03:41] mwfister commented on #153
I don't believe we expose the FileBrowser methods needed to achieve this. So we don't officially support this. Regardless, you can use refs to access the FileBrowser and call these methods imperatively.

Some things to note:

- The default export FileBrowser is wrapped in a ReactDnD higher order component, `@DragDropContext(HTML5Backend)`, so any ref on the FileBrowser will point to that - you'll

[2020-11-02 03:57] #153 closed

[2020-11-03 17:13] derekzernach commented on #130
got it to work by adding this...

[2020-11-03 17:21] derekzernach opened #154 "Disable Multiple File Selections"
I have a use case where I don't want multiple file selections turned on because moving files causes issues with what we're doing with the files. Is there an option for that or a way to see all the files that are currently selected?

The problem i have is when i move multiple files, the callback onMoveFile gets called for every file instead of passing an array of files that will be moved. This is c

[2020-11-04 05:59] derekzernach commented on #154
Got around this by using a reference to `FileBrowser` and was able to get the list of current selected files that it keeps in its state

[2020-11-04 06:00] #154 closed

[2020-11-05 11:01] ellyaaisyah opened #155 "Using file name if provided to render file name instead of file key"
Just like how folder uses folder name when provided instead of folder key.
https://github.com/uptick/react-keyed-file-browser/blob/master/src/base-folder.js#L50

[2020-11-06 15:39] djangoliv opened #156 "delete with multi selection call onDeleteFolder"
When you select 2 files and confirm delete, the onDeleteFile function is call but the onDeleteFolder is call too.

Regards

[2020-11-09 08:04] #155 closed

[2020-11-30 12:00] #135 closed

[2020-12-27 23:52] serek8 opened #159 "Different style than on demo app"
Hey, the app seems to differ than the one on demo. I think it might be an issue with styles but no idea how to fix it. Here are the diffs:
* blue font
* different font style
* blue icons
<img width="745" alt="Screenshot 2020-12-28 at 00 50 41" src="https://user-images.githubusercontent.com/8598888/103181915-bf870500-48a6-11eb-98a5-b523753f4047.png">

[2021-01-11 04:09] jlo-1 commented on #159
Hi @serek8, the styles on the demo app are imported from the [uptick-demo-site](https://github.com/uptick/uptick-demo-site) repository.

You can see it being imported for the demo-site [here](https://github.com/uptick/react-keyed-file-browser/blob/master/demo-site/demos.sass)

You'll have to apply your own custom css to your application if you wish to customise the style of the file-browser past w

[2021-01-18 11:42] mikecrophones07 opened #160 "Disabling Filter at top page"
Hello, is their anyway to disble filter at the top of the page? Thanks for the feedback

[2021-01-19 06:14] jlo-1 commented on #160
The browser specifies the filter through props and has a defaultProp set
See here: https://github.com/uptick/react-keyed-file-browser/blob/master/src/browser.js#L127

If you don't wish to have the default filter you should explicitly set the prop to a function that returns null. Furthermore, if you have no other actions, the actionRenderer will render with nothing taking up excess space which may

[2021-01-19 06:44] mikecrophones07 commented on #160
Hi @jlo-1

thanks, the filter section is gone.
another question, with regards to column headers, there are default columns: Name, Type, and Last Modified.
can I customize it by specifying my own columns and values per file and folder? seems like I can't saw some resources in the issue and closed tickets here in github.

Thanks hoping for your reply :)

[2021-01-19 11:19] EPishchalnikov commented on #159
Hey, @jlo-1! Can you show some little showcase regarding applying custom css? For now, i see that some classes present in the source code are being deleted in resulting bundle, so it looks uncler how to customize styles.
For example i try to change text color of one of the action buttons, applying my style by class:
https://github.com/uptick/react-keyed-file-browser/blob/eb1bb8cacd479713dfa799c2ed

[2021-01-21 23:25] jlo-1 commented on #159
Hi @EPishchalnikov, the `Actions` component provided with the package is just a default, what i would suggest is creating your own `NewActions` component, copy the default into it as a start and then make modifications to it as you so please, from there you could add classnames wherever you need and apply styling.

Then, you can pass the new `NewActions` component into the FileBrowser component as

[2021-01-29 17:00] vvaland opened #162 "Webpack compile error"
Hi

I'm trying out the basic usage example for react-keyed-file-browser, but my webpack compile is throwing the below errors

ERROR in ./~/react-keyed-file-browser/~/react-dnd-html5-backend/lib/HTML5Backend.js
Module parse failed: ...\node_modules\react-keyed-file-browser\node_modules\react-dnd-html5-backend\lib\HTML5Backend.js Unexpected token (390:12)
You may need an appropriate loader to handle

[2021-02-05 20:01] harsh-tamr commented on #130
None of the changes mentioned above worked for me, can this be resolved by updating the react-dnd dependency?

[2021-02-05 21:18] DIntriglia commented on #156
Can confirm this as well

[2021-02-09 11:49] StarStuff15 opened #163 "onselect file return but folder return undefined"
folder select return undefined onFolderSelect and onSelect

[2021-02-19 18:25] rodriguezd commented on #163
Just ran into same issue. Not sure if it's a bug (suspect it is) or if I'm just missing something

[2021-02-19 19:13] InsOpDe commented on #163
Problem seems to show up if you use keys which start with a `/`
i.e.

[code]

works but

[code]
gives you undefined.

I still consider this as a bug

[2021-02-19 19:27] rodriguezd commented on #163
@InsOpDe I was starting to suspect something like that but hadn't tried it out yet. May help me get past the roadblock. Thanks

[2021-02-20 04:51] StarStuff15 commented on #163
@InsOpDe here is my key
**key: "66/2-thumb.jpg"**
still, I get undefined

[2021-02-20 10:33] InsOpDe commented on #163
you might want to look into the [storybook examples](https://github.com/uptick/react-keyed-file-browser/blob/master/stories/index.js)

[2021-03-05 16:17] rodriguezd commented on #156
This is most annoying. If you pass a boolean to the onDeleteFolder prop which is valid prop type, the code complains that onDeleteFolder is not a function because it still tries to execute it as a function. If you pass a null function, you avoid the not a function exception, but then the folder containing the files to be deleted is "deleted" from the listing. You have to reload it for it to appear

[2021-03-24 14:43] iTzMeRafa commented on #19
Hey,
also looking for a way to translate the action texts.
I looked into this and found the property "actions", this might be what I need.
Still can't figure out what to pass into this. Could anyone provide a simple example for this?

[2021-04-06 13:05] fgiopp opened #168 "Is it possible to add custom columns?"
Is it possible to add custom columns?

Thank you for this package; it works great for me. Was I wondering there is an easy way to add more columns?

[2021-04-15 11:07] iTzMeRafa commented on #156
I also get this problem with the download methods:

'onDownloadFile': gets called for downloading one file, multiple files, but also multiple **folders**
'onDownloadFolder': only gets called for selecting and downloading one folder

[2021-06-15 07:03] tmarcinkowski-logitech commented on #151
You can implement it on your side, but the main difficulty is that the FileBrowser supports multiple open folders that may be at completely different paths. What breadcrumbs will you show then?

I did it though, on my client app. It's a matter of hooking into onFolderOpen and onFolderClose methods and storing your current path. What's more, I added the capability to have only one folder open at th

[2021-06-16 08:10] lafa5 opened #185 "How to remove file filter and item detail?"

[2021-06-16 21:23] Heartless49 opened #186 "Unable to use RawFileBrowser from local Library"
After cloning this repo, and importing it locally to another project for use, I am unable to get `RawFileBrowser` to render although this works from the library when installed using `npm i` - The error itself comes from `react-dnd` though.

`Uncaught Invariant Violation: Could not find the drag and drop manager in the context of Ae. Make sure to render a DndProvider component in your top-level com

[2021-06-17 00:55] dreadera commented on #186
Are you using `npm link` or `yarn link` to import it locally to another project?

[2021-06-17 23:17] dreadera commented on #185
Can you give me a bit more detail as to what you are trying to accomplish? 😃

[2021-06-21 17:03] Heartless49 commented on #186
`npm link`

[2021-06-21 22:34] dreadera commented on #186
I had similar issues when testing locally with `npm link` and `yarn link`. Since it behaves differently from system to system. [Reference](https://github.com/yarnpkg/yarn/issues/1761#issuecomment-259706202)

I resorted to using [yalc](https://www.npmjs.com/package/yalc) which works perfectly.
Is it possible for you to give `yalc` a try and tell me if the behaviour is the same?

[2021-06-23 13:14] tmarcinkowski-logitech commented on #185
@lafa5 you're probably looking for something like these props:

[code]

[2021-06-29 20:42] Heartless49 commented on #186
@dreadera Good suggestion - that did it! I'll keep that in my "use-if-stuff-is-being-weird" catalog from now on, lol

Thank you so much!

[2021-06-29 20:51] Heartless49 commented on #186
[code]
[code]
The stack trace just goes all the way up my rendering path back to my root - I know I'm rendering the component inside of a modal, but our app's `DndProvider` is way up at root, so this must be coming from this component? right?

[2021-06-29 21:53] dreadera commented on #186
Hmmm, this is quite strange. let me have a proper look. i'll get back to you asap :)

[2021-06-30 19:43] Heartless49 commented on #186
Sure
[code]
[code]

[2021-07-02 20:47] kylepolich commented on #186
Hi @dreadera thanks for your help on this ticket.  I thought I would comment and add a little color.  @Heartless49 is a collaborator of mine.  We like this Component, but in order for it to be useful to us, we need to be able to set a default value.  In our project, users can pick a file (using this component) which is then persistent.  If the user returns and wishes to change their selection, we

[2021-07-02 21:35] dreadera commented on #186
@kylepolich I'm happy to help! while that feature is lovely and PRs are welcome, maybe fixing the existing version might be quicker :)

I have tried to replicate this issue and I honestly haven't been able to.

Here is a couple of things I can suggest for the time being which might help you.

I changed our build format from `umd` to `esm` in the current main branch couple of weeks ago, this could

[2021-07-06 22:41] #84 closed

[2021-07-06 22:52] dreadera commented on #117
Apologies for taking so long to get back to you. If you follow the examples on the [demo-site](https://uptick.github.io/react-keyed-file-browser/) with a valid react environment. It should work out of the box.

If you are still stuck, feel free to create a new issue!
I'll be closing this as a part of cleaning up.

[2021-07-06 22:52] #117 closed

[2021-07-06 22:59] dreadera commented on #162
Hello! In the newer versions we have let go of webpack so this should not be an issue anymore.
I'll be closing this but if you still have issues, feel free to re-open!

[2021-07-06 22:59] #162 closed

[2021-07-06 23:01] dreadera commented on #44
Hi All,
I have started work for the `typescript` integration to the RKFB. I'll be closing this as it's quite out-dated. feel free to continue the discussion on the PR itself #189

[2021-07-06 23:01] #44 closed

[2021-07-06 23:03] dreadera commented on #25
Closing as documentation will be updated as a part of the `typescript`PR #189  with the help of https://docusaurus.io/.

[2021-07-06 23:03] #25 closed

[2021-07-06 23:04] #27 closed

[2021-07-06 23:07] #2 closed

[2021-07-06 23:09] dreadera commented on #124
Closing as decorators have been removed.

[2021-07-06 23:09] #124 closed

[2021-07-06 23:11] #159 closed

[2021-07-06 23:15] dreadera commented on #130
This issue should be now sorted with the removal decorators and also the updated dependencies. Feel free to re-open if the issue persists :)

[2021-07-06 23:15] #130 closed

[2021-07-06 23:16] #28 closed

[2021-07-06 23:30] #12 closed

[2021-07-07 04:23] #95 closed

[2021-07-07 05:21] jlo-1 commented on #109
Closing due to being fixed in https://github.com/uptick/react-keyed-file-browser/pull/110

[2021-07-07 05:21] #109 closed

[2021-07-07 05:47] #113 closed

[2021-07-07 06:43] #70 closed

[2021-07-07 07:34] jlo-1 commented on #42
Closing due to suitable solutions above

[2021-07-07 07:38] jlo-1 commented on #19
https://github.com/uptick/react-keyed-file-browser/issues/19#issuecomment-805879100

You need to create your own ActionRenderer with your own text for the actions and pass that in as a prop to the FileBrowser component.

Here is our default https://github.com/uptick/react-keyed-file-browser/blob/master/src/actions/default.js

[2021-07-08 20:39] Heartless49 commented on #186
@dreadera Thanks for the suggestions - that fixed it. I've got the local version running great now.

[2021-07-08 22:56] dreadera commented on #186
I'm glad to hear that. I'll include both the `esm` and `cjs` versions of the library in the next release to help with compatibility going forward. I will be closing this issue for now and If there are more issues, feel free to open up another.

[2021-07-08 22:56] #186 closed

[2021-07-17 07:47] #168 closed

[2021-07-21 08:51] jegatheesprana opened #194 "How to create new file?"
We can create new folder or sub folder. But how to create a file?

[2021-07-21 22:52] dreadera commented on #194
At this current stage, you cannot create a file in the same way you create a folder. However, you can create a component outside of the `FileBrowser` that mutates the file array thats passed to the `FileBrowser` which will allow this functionality :)

The idea of creating files within the library itself has been requested before, hence we do have it on our list of features we want to implement.

[2021-07-22 11:34] jegatheesprana commented on #194
I looked at the source code and tried to add that feature. But I found that the necessary functions have already been developed. So I tried to add another action menu which will trigger required functions. But I ended up with some other issues.
If I click newly added button, it triggers the function but not showing the input box. Later I found that this is happen because globalClickEventListener t

[2021-07-22 12:11] #194 closed

[2021-07-22 12:13] #185 closed

[2021-08-19 12:37] mk-navex commented on #59
@jestrickler can you please guide me on how to pass props.browserProps ? because when I pass using it as a component, I am  getting an error an eerror

I tried to pass like the below
<ActionRenderer createFiles={()=>console.log} />

The error which occured in the console.
![image](https://user-images.githubusercontent.com/87481583/130069082-5adfb5f4-9f1b-4e8e-8093-0b2db9af344b.png)

I am referring

[2021-08-19 13:33] jestrickler commented on #59
@mk-navex you don't need to create the ActionRenderer directly or pass the browserProps. You set the actionRenderer property along with other props when you create the KeyedFileBrowser and let the library handle it:

[code]

Hope that helps!

[2021-08-19 14:19] mk-navex commented on #59
@jestrickler  Exactly what I wanted. Thank you for such a timely help.

[2021-08-19 18:50] mk-navex opened #205 "Files in root folders are displayed with folder icon"
The files in the root folder are displayed with folder icon. Any help is appreciated. I think we need to have a grouper which will support both file and folder.

Refer the below image to get the issue.

![image](https://user-images.githubusercontent.com/87481583/130126777-960cba6e-53bc-40d7-9c04-8454037021c0.png)

[2021-08-19 20:08] mk-navex commented on #205
Please ignore this one, the file key was having a trailing "/" at the end hence it was considered as folder by the code. Fixed it.

[2021-08-19 20:08] #205 closed

[2021-09-13 15:52] as14g18 opened #211 "Programmatically scroll to file/folder"
Hi, is there a way to scroll to a particular file or folder in the file browser component? My use case is that I want to open a certain folder by default when the component is launched. However I also want to scroll to that folder's location in the folder list. Is this possible?

[2021-09-20 11:23] dreadera commented on #211
Currently there is native no way to do this, however I think you might be able to explore using the `fileRenderer` prop and then wrapping it with a ref to use the `scrollIntoView` function.

[2021-10-05 22:19] dreadera commented on #211
Closing due to inactivity. If the problem still persists, please feel free to open the issue again :)

[2021-10-05 22:19] #211 closed

[2021-11-18 10:19] adisaxena09 commented on #70
when the user clicks on any folder say **documents/photos** then I want the file upload option instead of drag and drop is it possible? If not what is the workaround.

[2021-12-04 09:16] raguiar2 commented on #160
@mikecrophones07 use `headerRenderer={() => null}` as a prop to FileBrowser

[2022-01-19 14:33] baur commented on #168
solved?

[2022-01-22 07:40] baur opened #214 "FR: Autoclose opened folders when opening another folder"
Is it possible autoclose opened folders when opening another folder like bootstrap [accordion](https://getbootstrap.com/docs/5.0/components/accordion/#example)

[2022-01-22 08:01] baur commented on #214
The current behavior is not convenient when there are a lot of folders and files and complicates navigation

[2022-01-26 04:12] baur commented on #153
I got an error:
[code]

[2022-01-26 05:52] baur commented on #153
How can I do that via useRef?

[2022-02-08 04:02] baur opened #215 "Class value 'selected' disappears when dismount another element"
Class value 'selected' disappears when dismounting another element

[code]

![className](https://user-images.githubusercontent.com/2898361/152915809-4ea01301-d6f5-4553-b142-f8ba8e4dfc6c.gif)

[2022-03-14 21:09] atikmahbub commented on #19
is it supporting this feature right now?

[2022-03-18 18:19] noisersup opened #222 "How to obtain currently selected files?"
I can see that it's placed in state variable `selection` and have tried to ref the state of `RawFileBrowser` but it's null.

[code]

[2022-03-21 04:18] noisersup commented on #222
Nevermind, the problem was that I imported `RawFileBrowser` outside curly brackets.

[2022-03-21 04:18] #222 closed

[2022-03-31 16:02] ss5nathan commented on #127
Any solution for this?

[2022-06-22 04:53] baur opened #228 "Could not resolve dependency: React 18"
Could not resolve dependency: React 18

[code]

[2022-06-22 05:09] baur commented on #228
Please add support for React 18?

[2022-07-01 00:51] dermotcarey-kgsa opened #230 "Trying to add a button next to the filter"
I'm trying to add a refresh button next to the filter bar. I thought I could do this with the filterRenderer prop (maybe there is a better way?). Here is where I am.
[code]

But unfortunately, I get this error. Am I close?
[code]

[2022-10-18 13:27] harsh-tamr opened #235 "feature request: Auto expand a path in the tree"